{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>

        About / Robert's Bike Rentals

    </title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head> 

<body>

<div>

    <a href="/home">
        <button type="button" class="btn btn-primary">
            Home
        </button>
    </a>

    <a href="/about-roberts-rentals">
        <button type="button" class="btn btn-primary">
            About
        </button>
    </a>

    <a href="/bike-accessories">
        <button type="button" class="btn btn-primary">
            Bike Accessories
        </button>
    </a>

    <a href="/bike/">
        <button type="button" class="btn btn-primary">
            Reserve Bike
        </button>
    </a>

    <a href="/accounts/login/">
        <button type="button" class="btn btn-secondary">
            Log In
        </button>
    </a>

</div>

<h1> Robert's Bike Rentals > About </h1>

<div>

    <img src="{% static 'img/close-up-bicycle-bell.jpg' %}" height=480 width=640>

</div>

<p>

Rental bikes and fun for the entire family. Our bike rental store features multiple bikes that can be rented and reserved for your next cycle adventure. 

</p>

<p>

Click the link below to reserve your bike with us.

</p>

<div>

    <a href="/bike/">
        <button type="button" class="btn btn-primary">
            Reserve Bike
        </button>
    </a>

</div>


<div class="footer">

Robert's Bike Rental created by <a href="https://github.com/gomsur">Robert</a>. <a href="https://www.freepik.com/free-photo/cyclist-sunny-day-bike-adventure-travel-photo_3972810.htm#query=bike&position=0&from_view=search&track=sph">Image by jcomp</a> on Freepik.

</div>

