{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>

        Bike Accessories / Robert's Bike Rentals

    </title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head> 

<body>

<div>

    <a href="/home">
        <button type="button" class="btn btn-primary">
            Home
        </button>
    </a>

    <a href="/about-roberts-rentals">
        <button type="button" class="btn btn-primary">
            About
        </button>
    </a>

    <a href="/bike-accessories">
        <button type="button" class="btn btn-primary">
            Bike Accessories
        </button>
    </a>

    <a href="/bike/">
        <button type="button" class="btn btn-primary">
            Reserve Bike
        </button>
    </a>

    <a href="/accounts/login/">
        <button type="button" class="btn btn-secondary">
            Log In
        </button>
    </a>

</div>

<h1> Robert's Bike Rentals > Bike Accessories </h1>

<div>

    <img src="{% static 'img/cover.jpg' %}" alt="My image">

</div>

<p>

Keep your rental in good condition with our custom line of products to bring with you on your bike adventure. Browse our collection of bike accessories to maintain and repair your bike.

</p>

<div>

<table id="table" class="center products">

    <thead>

 <th></th>        <th>Name</th>
        <th>Description</th>
        <th>Price</th>

    </thead>

    <tbody>



<tr>

    <td>

        <img class="thumbnail" src="https://www.bike-discount.de/media/image/2c/5b/25/Feedback-Sports-Pro-Mechanic-Reparaturstander-FA003475003-1_800x800.jpg">

    </td>

    <td>

 Aluminum Bike Stand

    </td>

    <td>

Our sturdy and reliable bike stand securely holds your bike in place, allowing you to make critical repairs with ease. Its aluminum construction ensures durability while remaining lightweight, making it a perfect choice for both professionals and hobbyists.

    </td>

    <td>

        €339.99

    </td>

</tr>

<tr>

<td><img class="thumbnail" src="https://www.bike-discount.de/media/image/71/1f/64/Topeak-JoeBlow-Booster-TJB-BST3-1_300x300.jpg"></td>

    <td>

Hydraulic Pump

    </td>

<td>

Level up your biking experience with our revolutionary Hydraulic Bike Pump. Say goodbye to sore arms and endless pumping! Our innovative pump utilizes hydraulic technology to effortlessly fill your bike tires with air.

</td>

<td>€39.99 </td>

</tr>     

<tr>

<td><img class="thumbnail"  src="https://www.bike-discount.de/media/image/95/da/80/Stans-NoTubes_Tire-Sealant-Reifendichtmittel_800x800.jpg"></td>

    <td>

Bike Gear Lubricant

    </td>


<td> 

on't let rusty gears slow you down or ruin your biking experience. Our specially formulated lubricant is designed to keep your bike gears in top-notch shape, ensuring smooth and effortless gear changes every time you hit the road.

 </td>

<td>€19.99</td>

</tr>

<tr>

<td><img class="thumbnail"  src="https://www.bike-discount.de/media/image/a0/f6/d8/Schwalbe_Tubeless-Felgenband_887019_300x300.jpg"></td>

    <td>

Bike Repair Tape

    </td>


<td>

the ultimate solution for quick and hassle-free bike repairs. Whether you're on a leisurely ride or in the middle of an epic adventure, this special emergency tape will have you back on track in no time.

</td>

<td>€19.99</td>

</tr>

    </tbody>

</table>

</div>

<div>

    <a href="/bike/">
        <button type="button" class="btn btn-primary">
            Reserve Bike
        </button>
    </a>

</div>

<div class="footer">

Robert's Bike Rental created by <a href="https://github.com/gomsur">Robert</a>. <a href="https://www.freepik.com/free-photo/cyclist-sunny-day-bike-adventure-travel-photo_3972810.htm#query=bike&position=0&from_view=search&track=sph">Image by jcomp</a> on Freepik.

</div>

</body>

</html>
