{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Home / Robert's Bike Rentals

    </title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<h1> Robert's Bike Rentals > Home </h1>

<div>

    <img src="{% static 'img/bike-shop-concept-with-bicycles.jpg' %}" height=480 width=640>

</div>

<p>

Welcome to Robert's Bike Rental. We have bikes of all sizes and accessories for you and your loved ones. Explore the local neighborhood in style & comfort on our bikes.

</p>

<div>

    <a href="/about-roberts-rentals">
        <button type="button" class="btn btn-primary">
            About
        </button>
    </a>

    <a href="/bike/">
        <button type="button" class="btn btn-primary">
            Reserve Bike
        </button>
    </a>

</div>

<div class="footer">

Robert's Bike Rental created by <a href="https://github.com/gomsur">Robert</a>. <a href="https://www.freepik.com/free-photo/cyclist-sunny-day-bike-adventure-travel-photo_3972810.htm#query=bike&position=0&from_view=search&track=sph">Image by jcomp</a> on Freepik.

</div>

</body>

</html>
